<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h1> <%= @response3.data.planet.name %> </h1>
<br>
<h3><strong>Characteristics:</strong></h3>
<h5>Rotation Period: <%= @response3.data.planet.rotation_period %></h5>
<h5>Orbital Period: <%= @response3.data.planet.orbital_period %></h5>
<h5>Diameter: <%= @response3.data.planet.diameter %></h5>
<h5>Climate: <%= @response3.data.planet.climates%></h5>
<h5>Gravity: <%= @response3.data.planet.gravity %></h5>
<h5>Terrain: <%= @response3.data.planet.terrains %></h5>
<h5>Surface Water: <%= @response3.data.planet.surface_water %></h5>
<h5>Population: <%= @response3.data.planet.population %></h5>
<h5>Important Residents:</h5>
<% @response3.data.planet.resident_connection.residents.each do |residente| %>
	<p> <%= link_to residente.name, character_path(:id => residente.id) %> </p>
<% end %>
<h5>Films where appear:</h5>
<% @response3.data.planet.film_connection.films.each do |film| %>
	<p> <%= link_to film.title, film_path(:id => film.id) %> </p>
<% end %> 
<br>
<%= link_to "Return", root_path, class: 'button' %>


</body>
</html>




