<h1> A Star Wars Encyclopedia!!!! </h1>
<h3>Filmss:</h3>


<table><thead><tr>
			<th>Name</th>
			<th>Year</th>
			<th>Director</th>
			<th>Producer</th>
			<th>Episode Number</th>
		</tr>
	</thead>
		<tbody>
		<% @result1.data.all_films.films.each do |resp2| %>
			<tr>
			<<td><%= resp2.title %></td>
			<td><%= resp2.release_date %></td>
			<td><%= resp2.director %></td>
			<td><%= resp2.producers %></td>
			<td><%= resp2.episode_id %></td>
			<td><%= link_to 'More information', film_path(:id => resp2.id) %></td>
			</tr>
			<tr>
				<br>
			</tr>
		<% end %>
	</tbody>
	

</table>
