<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h1><%= @response3.data.film.title %> (<%= @response3.data.film.release_date %>) </h1>
<br>
<h4> Episode number: <%= @response3.data.film.episode_id %> </h4>
<br>
<h4> Director: <%= @response3.data.film.director %> </h4>
<br>
<h4> Producer: <%= @response3.data.film.producers %> </h4>
<br>

<div class="row">
	<div class="column">
		<h4><strong> Characters:</strong></h4>
		<% @response3.data.film.character_connection.characters.each do |personaje| %>
			<p> <%= link_to personaje.name, character_path(:id => personaje.id) %> </p>
		<% end %>
	</div>
	<div class="column">
		<h4><strong> Planets:</strong></h4>
		<% @response3.data.film.planet_connection.planets.each do |planeta| %>
			<p> <%= link_to planeta.name, planet_path(:id => planeta.id) %> </p>
		<% end %>
	</div>
	<div class="column">
		<h4><strong> Starships:</strong></h4>
		<% @response3.data.film.starship_connection.starships.each do |nave| %>
			<p> <%= link_to nave.name, starship_path(:id => nave.id) %> </p>
		<% end %>
	</div>
</div>
<br>

<%= link_to "Return", root_path, class: 'button' %>
<!--	
<p> <%= @indices_personajes %> </p>
<p> <%= @indices_naves %> </p>
<p> <%= @indices_planetas %> </p> -->
</body>
</html>




